.c-button{
  text-align: center;
  font-size: 14px;
  margin:4px;
  padding:6px 8px;
  color:#fff;
  background: rgba(30,144,255,1);
  border-radius: 6px;
  box-shadow: 3px 3px 8px rgba(30,144,255,0.32);
  cursor:pointer;
  transition: box-shadow 200ms ease-in;
  user-select: none;
  white-space: nowrap;

  &:hover{
    box-shadow: 3px 3px 12px rgba(30,144,255,0.72);
  }
}
