.c-menu{
  display: flex;
  flex-direction: column;
  background: #fff;
  width:240px;
  transition: width 200ms ease-in;
  .iconfont{
    transform: rotate(-45deg);
    transition: transform 200ms ease-in;
    &.shrink{
      transform: rotate(0deg);
    }
  }

  &-content{
    flex:1;

    .c-menu-item{
      padding:12px 16px;
      cursor:pointer;
      transition: all 180ms ease-in;
      white-space: nowrap;

      &.current{
        //background: rgba(30,144,255,0.72);
        background: rgba(16, 32, 60, 0.28);
        color:#fff;
      }
    }
  }

  &-footer{
    padding:12px;
    display: flex;
    justify-content: flex-end;
    border-top:1px solid rgba(0,0,0,0.12)
  }

  &.shrink{
    width:0;
    overflow: hidden;
  }
}
