.c-menu{
  display: flex;
  flex-direction: column;
  background: #fff;
  width:240px;
  min-width: 240px;
  //transform: translateX(0px);
  transition: all 180ms ease-in;
  .iconfont{
    transform: rotate(-45deg);
    transition: transform 200ms ease-in;
    &.shrink{
      transform: rotate(0deg);
    }
  }

  &-content{
    flex:1;

    .c-menu-item{
      padding:8px 12px;
      cursor:pointer;
      transition: all 180ms ease-in;
      white-space: nowrap;

      &.current{
        background: rgba(16, 32, 60, 0.28);
        color:#fff;
      }
    }
  }

  &-header{
    padding:12px;
    display: flex;
    justify-content: flex-end;
    border-bottom:1px solid rgba(0,0,0,0.12)
  }

  &.shrink{
    width:0;
    min-width:0;
    transform: translateX(-240px);
    text-align: center;
    overflow: hidden;
  }
}

.c-menu-box{
  overflow: hidden;
  display: flex;
  align-items: center;
  &.expand{
    display: none;
  }

  &-btns{
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:1px solid rgba(0,0,0,0.24);
    padding:8px 4px;
    height:80px;
    border-radius: 0 12px 12px 0;
    background: #fff;
    box-shadow: 0 2px 8px #d0d7de;
    >.iconfont{
      cursor:pointer;
    }
  }
}
