.c-menu{
  display: flex;
  flex-direction: column;
  background: #fff;
  width:240px;
  transition: width 200ms ease-in;
  .iconfont{
    transform: rotate(-45deg);
    transition: transform 200ms ease-in;
    &.shrink{
      transform: rotate(0deg);
    }
  }

  &-content{
    flex:1;

    .c-menu-item{
      padding:8px 12px;
      cursor:pointer;
      transition: all 180ms ease-in;
      white-space: nowrap;

      &.current{
        //background: rgba(30,144,255,0.72);
        background: rgba(16, 32, 60, 0.28);
        color:#fff;
      }
    }
  }

  &-header{
    padding:12px;
    display: flex;
    justify-content: flex-end;
    border-bottom:1px solid rgba(0,0,0,0.12)
  }

  &.shrink{
    width:0;
    text-align: center;
    overflow: hidden;
  }
}

.c-menu-tip{
  overflow: hidden;
  display: flex;
  align-items: center;
  &.expand{
    width:0;
    //.c-menu-item{
    //  pointer-events: none;
    //}
  }

  &-btn{
    border:1px solid rgba(0,0,0,0.24);
    padding:24px 4px;
    border-radius: 0 12px 12px 0;
    background: #fff;
    cursor:pointer;
    writing-mode:vertical-rl;
    box-shadow: 0 2px 8px #d0d7de;
  }
}
