.c-textarea{
  //border:rgba(0, 0, 0, 0.12) 1px solid;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
  padding:8px 12px;
  border-color:rgba(0,0,0,0.3);

  &:focus{
    border-color: rgba(0, 0, 0, 0.07);
    box-shadow: 8px 8px 16px rgba(0,0,0,0.08);
    transition:all 0.25s ease-in;
  }
}
