@font-face {
  font-family: "iconfont"; /* Project id 2937034 */
  src: url('//at.alicdn.com/t/font_2937034_8id9q65ay1k.woff2?t=1636893443565') format('woff2'),
  url('//at.alicdn.com/t/font_2937034_8id9q65ay1k.woff?t=1636893443565') format('woff'),
  url('//at.alicdn.com/t/font_2937034_8id9q65ay1k.ttf?t=1636893443565') format('truetype');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//固定
.icon-fixed:before {
  content: "\e9b9";
}

//关闭
.icon-close:before {
  content: "\e620";
}

//设置
.icon-setting:before {
  content: "\e621";
}
