@font-face {
  font-family: "iconfont"; /* Project id 2937034 */
  src: url('//at.alicdn.com/t/font_2937034_qw70os5b6a.woff2?t=1646190437939') format('woff2'),
  url('//at.alicdn.com/t/font_2937034_qw70os5b6a.woff?t=1646190437939') format('woff'),
  url('//at.alicdn.com/t/font_2937034_qw70os5b6a.ttf?t=1646190437939') format('truetype');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//调整
.icon-adjust:before {
  content: "\e664";
}

//右箭头
.icon-arrow-right:before {
  content: "\e665";
}

//固定
.icon-fixed:before {
  content: "\e9b9";
}

//关闭
.icon-close:before {
  content: "\e620";
}

//设置
.icon-setting:before {
  content: "\e621";
}
