.menu{
  width:280px;
  border-right: 1px solid rgba(0,0,0,0.12);
  overflow: auto;

  .item{
    padding:0 12px;
  }

  .main{

  }
}

.subMenu{
  .subItem{
    padding:6px 4px 6px 24px;
    cursor:pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;

    &:hover{
      background: rgba(0,0,0,0.10);
    }

    &.active{
      color:#fff;
      background: rgba(0,0,0,0.21);
    }
  }
}
