.app{
  position:fixed;
  width:100%;
  height:100%;
  display: flex;
  background: rgba(135,206,250,0.48);

  &-menu{
    width:240px;
    border-right:1px solid rgba(0,0,0,0.1)
  }

  &-content{
    flex:1;
    display: flex;
  }
}
